body {
  background-color: dimgrey;
}

.i_1 {
  position: relative;

  background-color: skyblue;
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border: double white;
  border-radius: 150px;
  padding: 2px;
  width: 150px;
  height: 150px;
  top: 35px;
}

.block {
  display: inline-block;
  width: 90%;
  padding: 30px 10px;
  margin: 4%;
  background-color: rgb(243, 66, 34);
}

.block_2 {
  display: inline-block;
  width: 90%;
  padding: 30px 10px;
  margin: 4%;
  background: linear-gradient(
    to right,
    orange 0%,
    orange 50%,
    
    rgb(32, 166, 219) 50%,
    rgb(32, 166, 219) 100%
  );
}


.t_1 {
  position: relative;
  width: 100%;
  transform: translate(-60, -60);
  right:5%
}

.t_2 {
  position: relative;
  width: 100%;
  transform: translate(-60, -60);
  
}

.block_3
{
  display: inline-block;
  width: 90%;
  padding: 30px 10px;
  margin: 4%;
  background-color:rgb(32, 166, 219);   
}

.block_4
{
   display: inline-block;
  width: 90%;
  padding: 30px 10px;
  margin: 4%;
  background: linear-gradient(
    to right,
    rgb(243, 66, 34) 0%,
    rgb(243, 66, 34) 50%,
   
    orange 50%,
    orange 100%
  ); 
}

.block_6
{
     display: inline-block;
  width: 90%;
  padding: 30px 10px;
  margin: 4%;
  background-color:rgb(241, 200, 14); 
}

.block_7
{
   display: inline-block;
  width: 90%;
  padding: 30px 10px;
  margin: 4%;
  background: linear-gradient(
    to right,
    rgb(32, 166, 219) 0%,
    rgb(32, 166, 219) 50%,
   
    rgb(243, 66, 34) 50%,
    rgb(243, 66, 34) 100% )
}


